button {
  display: inline-block;
  font-family: "Permanent Marker";
  font-size: 1.8rem;
  padding: 8px 14px;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--text-inverse);
  margin-bottom: 1rem;
}

.btn-accent {
  background: var(--color-highlight);
  color: #101312;
  margin-bottom: 1rem;
}

/* Mobile + Tablet */
@media (max-width: 1024px) {
  button:hover {
    transform: none;
    box-shadow: 3px 3px 0 var(--text-primary);
  }
  button:active,
  a:active > button {
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0 var(--text-primary);
    transition: none;
  }
}

/* Tablet */
@media (min-width: 751px) {
  button {
    font-size: 2rem;
    padding: 8px 16px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  button {
    width: auto;
    font-size: 2.25rem;
    padding: 10px 20px;
  }
}
