#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  touch-action: none;
}

.canvas-nav {
  position: fixed;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
}

.canvas-tools {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
}

.canvas-tools div {
  display: flex;
  gap: 0.5rem;
}

.canvas-tools-zoom {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
}

.canvas-tools-zoom__input {
  width: 4rem;
  height: 3rem;
  background: var(--color-background);
  border: none;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Ubuntu";
  color: inherit;
  padding: 0;
  cursor: text;
  user-select: text;
}

.canvas-tools-zoom__input:hover {
  background: var(--color-secondary);
}

.canvas-tools-zoom__input:focus {
  outline: none;
  background: var(--color-secondary);
}

.canvas-tools__button {
  --lift-hover-translate: 0;
  --lift-hover-shadow: 3px;
  --lift-active-translate: 2px;
  --lift-active-shadow: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-background);
  user-select: none;
  height: 3rem;
  min-width: 3rem;
  padding: 0.75rem;
}

.canvas-tools__button:hover {
  background: var(--color-secondary);
}

.canvas-tools__button h2 {
  font-size: 1.4rem;
  line-height: 1;
}

@media (max-width: 770px) {
  .canvas-tools-zoom {
    bottom: 5.5rem;
  }
}
